<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.WhuLife">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.WhuLife.subscription.SubscriptionMainActivity"></activity>
        <activity android:name="com.example.WhuLife.subscription.PreferenceActivity"></activity>
        <activity android:name="com.example.WhuLife.subscription.PushNewsActivity"></activity>
        <activity android:name="com.example.WhuLife.subscription.NoticeActivity"></activity>
        <activity android:name="com.example.WhuLife.subscription.GetNewsActivity"></activity>
        <activity android:name=".course.AddCourseActivity"></activity>
        <activity android:name=".course.DeleteCourseActivity"></activity>
        <activity android:name=".course.EditTextActivity"></activity>
        <activity android:name=".course.MainActivity"></activity>
        <activity android:name=".course.load"></activity>
        <activity android:name=".course.OurLocation"></activity>
        <activity android:name=".course.RingActivity"></activity>
        <activity android:name=".location.setLocation"></activity>
        <activity android:name=".location.Locate"></activity>
        <activity android:name=".location.LocationMainActivity"></activity>
        <activity android:name=".location.PacakgeActivity"></activity>

        <activity
            android:name="com.example.WhuLife.ui.Login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.WhuLife.MainActivity"
            android:label="@string/app_name"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a07f009860e7c44b7bcde7f8247a4fff" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>