<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.WhuLife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".noticelist.NoticelistMainActivity"></activity>
        <activity android:name=".subscription.SubscriptionMainActivity" />
        <activity android:name=".subscription.PreferenceActivity" />
        <activity android:name=".subscription.PushNewsActivity" />
        <activity android:name=".subscription.NoticeActivity" />
        <activity android:name=".subscription.GetNewsActivity" />
        <activity android:name=".course.AddCourseActivity" />
        <activity android:name=".course.DeleteCourseActivity" />
        <activity android:name=".course.EditTextActivity" />
        <activity android:name=".course.MainActivity" />
        <activity android:name=".course.load" />
        <activity android:name=".course.OurLocation" />
        <activity android:name=".course.RingActivity" />
        <activity android:name=".location.setLocation" />
        <activity android:name=".location.Locate" />
        <activity android:name=".location.LocationMainActivity" />
        <activity android:name=".location.PackageActivity" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>